@import "~bootstrap-icons/font/bootstrap-icons.css";

    :hover {
        cursor: pointer
    }

    .bi-heart-fill {
        color: #ccc
    }

    .bi-heart-fill-pink {
        color: deeppink
    }