<h2>{{ title }}</h2>
<button class="btn btn-primary" (click)="onAdd()">Add</button>
<div *ngIf="courses.length > 0; then courseList else noCourses"></div>
<ng-template #courseList>
    <ul>
        <li *ngFor="let course of courses; even as isEven">
            {{ course.name }} <span *ngIf="isEven">(EVEN)</span>
            <div>
                <button class="btn btn-primary" (click)="onRemove(course)">Remove</button>
                <button class="btn btn-primary" (click)="onChange(course)">Change</button>
            </div>
        </li>
    </ul>
</ng-template>
<ng-template #noCourses>
    <ul>
        No courses yet!
    </ul>
</ng-template>
<div (click)="onDivClicked()">
    <button (click)="onSave($event)" class="btn btn-primary" [class.active]="isActive" [style.backgroundColor]="isActive ? 'blue' : 'white'">Save</button>
</div>
<input id="email" [(ngModel)]="email" (keyup.enter)="onKeyUp()"/>
<p>
{{ text | summary: 96}}
</p>